# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ../../poky/meta \
  ../../meta-xilinx/meta-xilinx-core \
  ../../meta-xilinx/meta-xilinx-bsp \
  ../../meta-xilinx/meta-xilinx-standalone \  
  ../../meta-xilinx-tools \
  ../../poky/meta-poky \
  ../../poky/meta-yocto-bsp \
  ../../meta-test \
  "
