# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${GITHUB_WORKSPACE}/layers/poky/meta \
  ${GITHUB_WORKSPACE}/layers/meta-xilinx/meta-xilinx-core \
  ${GITHUB_WORKSPACE}/layers/meta-xilinx/meta-xilinx-bsp \
  ${GITHUB_WORKSPACE}/layers/meta-xilinx/meta-xilinx-standalone \  
  ${GITHUB_WORKSPACE}/layers/meta-xilinx-tools \
  ${GITHUB_WORKSPACE}/layers/poky/meta-poky \
  ${GITHUB_WORKSPACE}/layers/poky/meta-yocto-bsp \
  ${GITHUB_WORKSPACE}/layers/meta-test \
  "
