# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/poky/meta \
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/meta-xilinx/meta-xilinx-core \
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/meta-xilinx/meta-xilinx-bsp \
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/meta-xilinx/meta-xilinx-standalone \  
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/meta-xilinx-tools \
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/poky/meta-poky \
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/poky/meta-yocto-bsp \
  /__w/poky_zynqmp_generic_test/poky_zynqmp_generic_test/layers/meta-test \
  "
